.output{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  
    
    
   
}
img{
    width: 30rem;
}
p{
    position: relative;
    top: 10rem;
    font-size: 1.5rem;
}
.photos{
    width:30rem;
}